pkgbase = aws-cli-v2-bin
	pkgdesc = Universal Command Line Interface for Amazon Web Services version 2
	pkgver = 2.4.11
	pkgrel = 1
	url = https://docs.aws.amazon.com/cli/latest/userguide/install-cliv2.html
	arch = i686
	arch = x86_64
	license = Apache
	makedepends = unzip
	depends = less
	provides = aws-cli
	provides = aws-cli-v2
	conflicts = aws-cli
	conflicts = aws-cli-v2
	source = https://awscli.amazonaws.com/awscli-exe-linux-x86_64-2.4.11.zip
	sha256sums = a6465f123a58caef3be32d3c9165078058d225fa2e9576764928c881565c2fff

pkgname = aws-cli-v2-bin
